.container-jumbotron {
    font-family: "Crushed", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("https://media.istockphoto.com/id/1366305470/es/foto/ni%C3%B1a-sonriente-bronceada-muestra-su-largo-cabello.jpg?s=2048x2048&w=is&k=20&c=mVX6uNfeGPvlS1nqgLiPnyQUw3zz-DoaCebf3B2165Q=");
    height:700px;
    padding-top:12%;
    color:beige
  }
  button{
  
  }
  
  